.container {

  // padding: 5px;
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container,
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .header-container {
    width: 100%;
    flex-direction: row;

    .title-h1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 500;
      color: rgb(54, 54, 54);
    }

    button {
      // margin-top: -1rem;
      margin: auto, 0;
      margin-right: 5px;
      width: 5%;
      height: 2rem;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid rgb(161, 161, 161);
      background-color: transparent;
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: 2px;
      color: gray;

      &:hover {
        color: #000;
        border: 2px solid #000;
      }

      mat-icon {
        margin: auto 0;
      }

    }
  }

  .main-container {
    width: 100%;
    margin-top: 10px;

    .add-member {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      .input {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
          width: 65%;
          padding: 2px;
          padding-left: 5px;
          border: 2px solid rgb(170, 170, 170);
          border-radius: 4px;

          color: rgb(68, 68, 68);
          font-size: 1.1em;
          font-weight: 400;
          // margin-left: 5px;
        }

        .button {

          button {
            margin: auto 0;
            width: 5.5rem;
            height: 2rem;
            padding: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background-color: #F98E77;
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 2px;
            color: #fff;

            &:hover {
              background-color: #df7962;
            }
          }
        }
      }

      .list-container {
        width: 100%;
        height: auto;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        mat-list {
          width: 95%;
          height: auto;
          border: 2px solid gray;
        }

        .item-list {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;


          span {
            color: rgb(87, 87, 87);
            letter-spacing: 2px;
            font-size: 1em;
            font-weight: 400;
            margin-left: 10px;
          }

          .button {

            padding: 0%;
            margin-left: 20px;
            background-color: transparent;
            color: rgb(209, 108, 101);
            cursor: pointer;

            &:hover {
              color: rgb(182, 122, 118);
            }
          }
        }
      }
    }

  }

  .footer-container {
    width: 100%;
    margin-top: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;

    h2 {
      color: rgb(236, 110, 110);
      letter-spacing: 2px;
      margin-bottom: 0;
    }

    h4 {
      letter-spacing: 1px;
    }

    span {
      color: rgb(65, 64, 64);
      font-weight: 500;
      letter-spacing: 2px;
    }

    .input {

      input {
        width: 65%;
        padding: 2px;
        padding-left: 5px;
        border: 2px solid rgb(170, 170, 170);
        border-radius: 4px;

        color: rgb(68, 68, 68);
        font-size: 1.1em;
        font-weight: 400;
        // margin-left: 5px;
      }

      button {
        margin: auto 0;
        margin-left: 5px;
        width: 5.5rem;
        height: 1.8rem;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: #F98E77;
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 2px;
        color: #fff;

        &:hover {
          background-color: #df7962;
        }
      }
    }
  }


}
