<main>
  <mat-toolbar class="toobar">
    <div class="example-logo">
      <img src="../../../../assets/G.png" alt="">
      <span>Gads</span>
    </div>
    <div class="container-links">
      <span>Gads</span>
    </div>
  </mat-toolbar>
  <div class="container-content">
    <div class="example-container">
      <div class="example-sidenav" mode="side" opened>
        <div class="top-sidenav">
          <h1>AT</h1>
          <hr class="hr">
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
