<main>
  <mat-toolbar class="toobar">
    <div class="example-logo">
      <img src="../../../../assets/G.png" alt="">
      <span>Gads</span>
    </div>
    <div class="container-user">
      <div class="notification-container">
        <button>
        <mat-icon matBadge="12" matBadgeColor="warn">message</mat-icon>
      </button>
      </div>
      <button></button>
    </div>
  </mat-toolbar>
  <div class="container-content">
    <div class="example-container">
      <div class="example-sidenav" mode="side" opened>
        <div class="top-sidenav">
          <h1>AT</h1>
          <hr class="hr">
          <div class="desktop-item">
            <div class="top">
              <cdk-virtual-scroll-viewport autosize appendOnly itemSize="5" class="scroll">
                <button class="desktop-item-button" *cdkVirtualFor="let desktop of desktopData"
                  routerLink="desktopTableView/{{desktop.id}}"
                  routerLinkActive="selected">
                  <span>{{ desktop.name.charAt(0).toUpperCase() + desktop.name.substring(1, 7)}}</span>
                </button>
              </cdk-virtual-scroll-viewport>
            </div>
            <div class="bottom">
              <button class="desktop-item-plus" (click)="openDialog()">
                <mat-icon fontIcon="add"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-content-router">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
