<section class="container-card-view">
  <div class="header">
    <span>{{cardData.title}}</span>
    <button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="main">
    <div class="main-detal">
      <span class="delivery-date">Data de entrega<p [ngStyle]="{'background-color': _functionShare.refDateColor(cardData)}">
          {{_functionShare.modifyDateString(cardData.delivery_date)}}</p></span>
      <div class="forms">
        <form>
          <!-- Descrição -->
          <div class="model-form-main">
            <div class="model-form-main-title">
              <span>Descrição</span>
              <div class="model-form-main-title-button">
                <button>Salvar</button>
              </div>
            </div>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Ex. Realizar novas tarefas até sexta-feira..."></textarea>
            </mat-form-field>
          </div>
          <!-- Comentários -->
          <div class="model-form-main">
            <div class="model-form-main-title">
              <span>Relatos</span>
            </div>
            <div class="example-full-width">
              <div class="comment-container">
                <div class="comment-avatar">
                  <img src="../../../../assets/perfil-image.jpg" alt="">
                </div>
                <div class="comment-content">
                  <textarea class="comment-input" placeholder="Digite seu comentário"></textarea>
                  <button class="comment-button">Comentar</button>
                </div>
              </div>
            </div>
            <div class="comments-list">
              <div class="comment">
                <div class="comment-avatar">
                  <img src="../../../../assets/perfil-image.jpg" alt="">
                </div>
                <div class="comment-details">
                  <div class="comment-author">Guilherme Alves</div>
                  <div class="comment-date">25/01/2023</div>
                </div>
              </div>
              <div class="comment-text">
                <p>Teste de comentário realizado hoje. ffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                  dddddddddddddddddddddddddddddddddddddddddddd</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="main-actions">
      <span>Ações do Cartão</span>
      <button><mat-icon>perm_identity</mat-icon> Membros</button>
      <button><mat-icon>list_alt</mat-icon> CheckList</button>
      <button><mat-icon>unarchive</mat-icon> Anexo</button>
      <div class="main-action-members">
        <span>Membros</span>
      </div>
    </div>
  </div>
</section>
