<div class="container">

  <div class="header">
    <span>Upload de Arquivo</span>
    <button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="main">
    <section *ngIf="previewUrl">
      <img [src]="typeFile.slice(0, 5)  === 'image' ? previewUrl : fileImageExample" alt="Foto de Perfil" width="100%">
    </section>

    <div class="file-upload">
      <div class="validation">
        <p class="success" *ngIf="uploadFileSuccess">Arquivo enviado com sucesso!</p>
        <p class="error" *ngIf="uploadFileError">Não foi possível enviar o arquivo, tente novamente!</p>
      </div>
      <div class="loading-container" *ngIf="uploadFile">
        <div class="lds-facebook">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="content">
        <label for="fileInput" class="file-input-label">
          <span>Toque aqui ou arraste um arquivo</span>
          <input type="file" id="fileInput" (change)="onFileSelected($event)">
        </label>
        <div *ngIf="previewUrl" class="importedTitle">
          <h2>Arquivo importado!</h2>
          <button (click)="addFile()">Enviar</button>
        </div>
      </div>
    </div>

  </div>
</div>
