<main>
  <section class="card">
    <div class="container-forms">
      <div class="top-login">
        <h1>Login</h1>
        <span>Utilize o seu e-mail e senha.</span>
      </div>
      <form class="example-form" (submit)="login($event)" [formGroup]="loginForm">
        <!-- Email -->
        <p *ngIf="errorRequest">{{erroMessage}}</p>
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. admin@admin.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Digite um e-mail válido.
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail é <strong>necessário.</strong>
          </mat-error>
        </mat-form-field>
        <!-- Password -->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ex. @123A1b" formControlName="password">
          <button mat-icon-button matSuffix (click)="preventDefPass($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" type="submit">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Senha é <strong>necessário.</strong>
          </mat-error>
        </mat-form-field>
        <!-- Button -->
        <div class="button-form">
          <button mat-flat-button color="primary" [disabled]="enableButton">
            <p *ngIf="!enableButton else loading">Entrar</p>
          </button>
        </div>
        <!-- Loading -->
        <ng-template #loading>
          <div class="center-body">
            <div class="loader-circle-3"></div>
          </div>
        </ng-template>
      </form>
      <!-- Footer Text -->
      <h3>Ainda não possui conta? <strong><a routerLink="createAccount">Crie a sua aqui!</a></strong></h3>
    </div>
    <div class="container-img">
      <img src="../../../../assets/login-gif.gif" alt="">
    </div>
  </section>
</main>
