section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98%;

  .search-and-create {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;


    .example-form-field {
      width: 20rem;
      height: auto;
      margin-top: 1rem;


      input {
        margin: 0, auto;
        font-size: 1em;
        font-weight: 500;
        color: rgb(100, 100, 100);
      }

      button {
        margin-right: 0.6rem;
        border: 2px solid rgb(161, 161, 161);
        background-color: transparent;
        color: #F98E77;
        cursor: pointer;
      }

    }

    .action-container {
      width: 10rem;

      button {
        margin: auto 0;
        width: 100%;
        height: 3rem;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        background-color: #F98E77;

        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 2px;

        &:hover {
          background-color: #e97a61;
        }

        p {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .table-container {
    width: 95%;
    height: 100%;
    margin: 0%;

    table {
      width: 100%;
      height: 100%;
    }

    .mat-elevation-z8 {
      box-shadow: none;
    }

    .mat-mdc-form-field {
      font-size: 1em;
      width: 100%;
    }

    .mat-row {
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;
      color: #e97a61;
    }

    .scroll {
      width: 88vw;
      height: 65vh;
      background-color: white;
    }

    td,
    th {
      width: 25%;
    }

    th {
      color: rgb(102, 102, 102);
      font-size: 1.1em;
      font-weight: 500;
    }

    td {
      height: 15%;
      color: grey;
      font-size: 0.9em;
      font-weight: 500;
    }

    .button-td-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 1.9rem;
        height: 1.8rem;
        padding: 0%;
        border: 2px solid rgb(161, 161, 161);
        background-color: transparent;
        color: rgb(211, 139, 134);
        cursor: pointer;

        &:hover {
          border: 2px solid #F98E77;
          border-radius: 3px;
          color: rgb(182, 122, 118);
        }

        &:last-child {
          margin-left: 5px;
          color: rgb(100, 133, 182);

          &:hover {
            border: 2px solid #F98E77;
            border-radius: 3px;
            color: rgb(80, 106, 146);
          }
        }
      }
    }

  }


}
