section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .search-and-create {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .example-form-field {
      width: 20rem;
      height: auto;
      margin-top: 1rem;


      input {
        margin: 0, auto;
        font-size: 1em;
        font-weight: 500;
        color: rgb(100, 100, 100);
      }

      button {
        margin-right: 0.6rem;
        border: 2px solid rgb(161, 161, 161);
        background-color: transparent;
        color: #F98E77;
        cursor: pointer;
      }

    }
  }

  .table-container {
    width: 98%;
  }

}


